<div>
  <h1>Welcome back <%= "#{@user_info.first_name} #{@user_info.last_name}" %></h1>
  <div>
    <%= form_with model: @user_info do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
      <br/>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
      <br/>
      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number %>
      </br>
      <h2>Shipping Address:</h2>
      <%= f.label :country %>
      <%= f.text_field :country %>
      <br/>
      <%= f.label :street %>
      <%= f.text_field :street %>
      <br/>
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode %>
      <br/>
      <%= f.label :state %>
      <%= f.text_field :state %>
      <br/>
      <%= f.button :submit %>
    <% end %>
  </div>
  <h1>List of Products</h1>
  <%= form_tag({controller: 'orders', action: 'submit'}, {id: 'order'}) do %>
    <div class="form_row">
      <% @products.each do |product| %>
        <%= radio_button_tag 'orders[product_id]', product.id, @products.first == product %>
        <span id="radioButtonName<%= product.id %>"><%= product.name %></span>
        <span
          data-price="<%= product.price_cents %>"
          id="radioButtonPrice<%= product.id %>"
        >
          <%= humanized_money_with_symbol product.price %>
        </span>
        <br/>
      <% end %>
    </div>
    <%= submit_tag "Buy" %>
  <% end %>
</div>
